*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
input[type="submit"] {
  cursor: pointer;
}
.container{
  width: 100vh;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.task.taskfalse {
  background: #96de96;
}
.task.tasktrue {
  background: #de9a9a;
}